@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueio";
}

<hgroup>
    <h1 class="text-danger">Bloqueio.</h1>
    <h2 class="text-danger">Esta conta foi bloqueada. Tente, por favor, mais tarde.</h2>
</hgroup>
