@{
    ViewBag.Title = "Página Inicial";
}

<div style="background-color:#FFE4B5;" class="jumbotron">
    <h1 style="color:#CD5C5C";>Varpa University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="color:#CD5C5C";>Bem-vindo à Varpa University</h2>
        <p>
            Varpa University é um sistema online para controle dos estudantes da universidade.
        </p>
    </div>
</div>