@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Varpa University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo à Varpa University</h2>
        <p>
            Varpa University é um sitema online para controle dos estudantes da universidade.
        </p>
    </div>
</div>