@model Faculdade.Models.Curso

@{
    ViewBag.Title = "Detalhar Curso";
}

<h2>Detalhar Curso</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CursoID }) |
    @Html.ActionLink("Volte para a lista", "Index")
</p>
